<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>hello</title>
</head>
<body>
  <div class="container">
    <h2 style='margin:0;'><a>post me</a></h2>
    <hr style='margin: 15px 0px 15px 0px'>
    <p><b>Example Usage: </b> <br>curl -d '{ "number1": 1, "number2": 2 }' -H "Content-Type: application/json" https://futurice-challenge-benjamin.herokuapp.com/</p>
  </div>
</body>
</html>
